@font-face {
    font-family: roboto;
    src: url(/fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: roboto-thin;
    src: url(/fonts/Roboto-Thin.ttf);
}

* {
    box-sizing: border-box;
    font-family: sans-serif;
    font-family: roboto;
}

body {
    text-align: center;
    margin: auto;
    width: 600px;
}

#logo {
    height: 72px;
    vertical-align: bottom;
    margin-right: 10px;
}

h1 {
    font-family: roboto-thin;
    letter-spacing: .03em;
    margin: 50px 0 0;
    font-size: 60px;
    display: inline-block;
}

h3 {
    margin: 0;
    opacity: .7;
    font-size: 17px;
}

h1, h3 {
    font-weight: 100;
}

#search {
    position: relative;
    margin: 40px auto;
}

#search button {
    height: 40px;
    width: 40px;
    vertical-align: top;
    border: 0;
    background: rgba(200,200,200,0.1);
    padding: 0 8px;
    position: absolute;
    top: 0;
    right: 0;
    color: rgb(40,40,40);
    border-left: 1px solid #ccc;
    cursor: pointer;
}
#search button.disabled {
    opacity: .4;
    cursor: initial;
}

#searchResult {
    padding: 0;
    max-height: 579px;
    overflow: auto;
}

#searchResult div {
    width: 180px;
    display: inline-block;
    margin-bottom: 30px;
    vertical-align: top;
}
#searchResult div:nth-child(3n+2) {
    margin: 0 30px;
    margin: 0 21px;
}

a {
    text-decoration: none;
    text-align: left;
}

#searchResult img {
    width: 180px;
}

#searchResult p {
    color: black;
    padding-left: 3px;
    margin: 0 0 3px;
}

p.user {
    font-size: 12px;
    opacity: .7;
}

#fwraMenu {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 35px;
    height: 35px;
    cursor: pointer;
}
#fwraMenu:hover {
    opacity: .6;
}

#shader, #download {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    display: none;
}

#shader { 
    height: 100%;
    width: 100%;
    background: rgba(50,50,50,0.9); 
}

#download { 
    background: rgb(250,250,250);
    height: 200px;
    width: 500px;
    margin: auto;
    padding: 30px;
    border: 2px solid rgb(50,50,50);
}

#download p:first-of-type {
    margin: 0;
}

#download #how {
    font-style: italic;
    color: rgb(66, 134, 244);
    cursor: help;
}

#download button {
    border: 1px solid #ccc;
    font-family: roboto-thin;
    padding: 10px 20px;
    font-size: 20px;
    background: rgb(240,240,240);
    cursor: pointer;
}

#download button:hover {
    background: rgb(220,220,220);
}

.close_container {  
    height: 30px;
    width: 30px;
    padding-left: 15px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor:pointer;
}
.close_container:hover div {
    background: grey;
}
.close_container div {
    height: 30px;
    width: 1px;
    background: black;
}
.close_container .close_dash1 {   
    transform: rotate(45deg);
}
.close_container .close_dash2 {   
    transform: rotate(90deg);
}


/*Counter*/
#counter {
    position: absolute;
    bottom: 20px;
    right: 0;
    left: 0;
}

#counter > p {
    font-family: roboto-thin;
    font-size: 20px;
    font-style: italic;
}

#counter div p {
    font-size: 30px;
    font-family: roboto-thin;
    padding: 10px;
    margin: 0 8px;
    border: 1px solid #ccc;
    background: rgb(245,245,245);
    display: inline-block;
}

/*
#fwraApps {
    width: 192px;
    border: 1px solid rgba(0,0,0,.2);
    background: rgb(250,250,250);
    position: absolute;
    top: 15px;
    right: 15px;
}

#fwraApps ul {
    padding: 5px;
    margin: 0;
}

#fwraApps li {
    list-style: none;
    height: 50px;
    width: 50px;
    display: inline-block;
    margin: 5px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
}

#fwraApps li a {
    text-decoration: none;
    color: rgb(240,240,240);
    display: block;
}

#pf { background: rgb(6, 224, 42); }
#ue { background: rgb(144, 9, 206); }
#pc { background: rgb(0, 153, 255); }
#yr { background: rgb(252,26,26); }
#ir { background: rgb(255, 230, 0); }

.appSelected {
    opacity: .6;
}

#fwraApps li:hover {
    opacity: .6;
}

#fwraApps p {
    margin: 0;
    text-align: center;
    color: rgb(150,150,150);
    border-top: 1px solid rgba(40,40,40,.2);
    font-size: 14px;
    padding: 5px;
    background: rgb(240,240,240);    
}
*/
:focus { outline: none }

.input-effect { 
    position: relative;
    display: inline-block;
    text-align: initial;
    width: 100%;
} 

.input-effect input {
    height: 40px;
    width: 100%;
    border: 1px solid #ccc;
    padding: 7px 14px;
    transition: 0.4s;
    transition: 0.8s;

    background: transparent;
    background: rgba(200,200,200,0.1);
}

.focus-border:before,
.focus-border:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #3399FF;
    background-color: rgb(50,50,50);
    background-color: rgb(150,150,150);
    transition: 0.3s;
    transition: 0.6s;
}

.focus-border:after {
    top: auto;
    bottom: 0;
    left: auto;
    right: 0;
}

.focus-border i:before,
.focus-border i:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 0;
    background-color: #3399FF;
    background-color: rgb(50,50,50);
    background-color: rgb(150,150,150);
    transition: 0.4s;
    transition: 0.8s;
}

.focus-border i:after {
    left: auto;
    right: 0;
    top: auto;
    bottom: 0;
}

:focus ~ .focus-border:before,
:focus ~ .focus-border:after,
.has-content ~ .focus-border:before,
.has-content ~ .focus-border:after {
    width: 100%;
    transition: 0.3s;
    transition: 0.6s;
}

:focus ~ .focus-border i:before,
:focus ~ .focus-border i:after,
.has-content ~ .focus-border i:before,
.has-content ~ .focus-border i:after {
    height: 100%;
    transition: 0.4s;
    transition: 0.8s;
}

label {
    position: absolute;
    left: 14px;
    width: 100%;
    top: 10px;
    color: #aaa;
    color: #757575;
    transition: 0.3s;
    transition: 0.6s;

    z-index: -1;
    letter-spacing: 0.5px;
}

:focus ~ label, .has-content ~ label {
    top: -18px;
    left: 0;
    font-size: 12px;
    color: #3399FF;
    color: rgb(50,50,50);
    transition: 0.3s;
    transition: 0.6s;
}