doctype html
html
	head
		title YouTubeRelist
		meta(name="author", content="Frederik Agervold")
		meta(charset="UTF-8")
		link(rel='shortcut icon', href='/images/favicon.ico', type='image/x-icon')
		link(rel='icon', href='/images/favicon.ico', type='image/x-icon')
		link(rel='stylesheet', href='/stylesheets/stylesheet.css')
	body
		svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="fwraMenu" x="0px" y="0px" viewBox="0 0 512 512" xml:space="preserve")
			path(fill-rule="evenodd" fill="rgb(50,50,50)" clip-rule="evenodd" d="M32,160h128V32H32V160z M192,160h128V32H192V160z M352,32v128h128V32H352z     M352,320h128V192H352V320z M352,480h128V352H352V480z M192,480h128V352H192V480z M32,480h128V352H32V480z M32,320h128V192H32V320    z M192,320h128V192H192V320z")
		#fwraApps
			ul
				li#pf
					a(href="http://fwra.me/") PF
				li#ue
					a(href="http://ue.fwra.me/") UE
				li#pc
					a(href="http://pc.fwra.me/") PC
				li#yr.appSelected
					a(href="http://yr.fwra.me/") YR
				li#ir 
					a(href="http://ir.fwra.me/") IR
			p fwra - other projects
		h1 YouTubeRelist
		h3 A Chrome extension for displaying unlisted videos on YouTube
		#search
			.input-effect
				input(name='name' type='text' required)
				label Search among YouTube channels
				span.focus-border
					i
			button
				svg(viewBox="0 0 34 34" fill="none" stroke="currentColor")
					ellipse(stroke-width="3" cx="16" cy="15" rx="12" ry="12")
					path(d="M26 26 l 8 8" stroke-width="3" stroke-linecap="square")
		ul#searchResult
		h1 Download here: 
		p
			a(href="#") Google Play
		h2 How it works
		p Every time you watch a youtube video, the extension will check wether or not the video is unlisted. If the video is, it will be added to the database and when you or another user goes to the owners channel, it will be there.
		h2 In action
		video(controls height="200")
			source(src="./demo.mp4" type="video/mp4")
			| Your browser does not support the video tag.
		h2 Created by 
		p
			a(href="http://fwra.me") Frederik Agervold
		p #{videos} Unlisted Videos
		script(src="/scripts/jquery-3.2.1.min.js")
		script(src="/scripts/script.js")