doctype html
html
    head
        title YouTubeRelist
        meta(name="author", content="Frederik Agervold")
        meta(charset="UTF-8")
        link(rel='shortcut icon', href='/images/favicon.ico', type='image/x-icon')
        link(rel='icon', href='/images/favicon.ico', type='image/x-icon')
        link(rel='stylesheet', href='/stylesheets/stylesheet.css')
        link(rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/cjmpedjkkpihnongpkgkmjiemmpjhndi")
    body
        //-
            svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="fwraMenu" x="0px" y="0px" viewBox="0 0 512 512" xml:space="preserve")
                path(fill-rule="evenodd" fill="rgb(50,50,50)" clip-rule="evenodd" d="M32,160h128V32H32V160z M192,160h128V32H192V160z M352,32v128h128V32H352z     M352,320h128V192H352V320z M352,480h128V352H352V480z M192,480h128V352H192V480z M32,480h128V352H32V480z M32,320h128V192H32V320    z M192,320h128V192H192V320z")
        #shader
        #download
            p Please considder installing the YouTubeRelist Chrome Extension to contribute to our database of unlisted videos.
            p#how(title="Whenever you watch a YouTube video, the extension will check if the video is unlisted, if it is it will be added to the Relist database.") How does that work?
            button(onclick="chrome.webstore.install()") Add Chrome Extension
            .close_container
                .close_dash1
                    .close_dash2
        img#logo(src="/images/icon.png")
        h1 YouTubeRelist
        h3 A Chrome extension for displaying unlisted videos on YouTube
        #search
            .input-effect
                input(name='name' type='text' required)
                label Search among YouTube channels
                span.focus-border
                    i
            button.disabled
                svg(viewBox="0 0 34 34" fill="none" stroke="currentColor")
                    ellipse(stroke-width="3" cx="16" cy="15" rx="12" ry="12")
                    path(d="M26 26 l 8 8" stroke-width="3" stroke-linecap="square")
        #searchResult
        //-
            #counter
                p Unlisted Videos
                div
                    p#thousands 0
                    p#hundreds 0
                    p#tens 0
                    p#ones=videos
        script(src="/scripts/jquery-3.2.1.min.js")
        script(src="/scripts/script.js")