doctype html
html
    head
        title=title
        meta(name="author", content="Frederik Agervold")
        meta(charset="UTF-8")
        link(rel='shortcut icon', href='/images/favicon.ico', type='image/x-icon')
        link(rel='icon', href='/images/favicon.ico', type='image/x-icon')
        link(rel='stylesheet', href='/stylesheets/stylesheet.css')
    block content